@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow{
    background: #ff4500 !important;
    border-radius: 100%;
    position: absolute !important;
}


.slick-prev{
    background: #ff4500 !important;
    position: absolute !important;
    z-index: 10;
    margin-left: 30px !important;
    height: 50px !important;
    width: 50px !important;  
}
.slick-next{
    background: #ff4500 !important;
    position: absolute !important;
    z-index: 10;
    margin-right: 30px !important;
   height: 50px !important;
   width: 50px !important;  
   
}
slick-next.hover::after {
    background: #524540 !important;
    position: absolute !important;
    z-index: 10;
    margin-right: 30px !important;
   height: 50px !important;
   width: 50px !important;  
   
}

.progress-bar {
   
    top: 0;
    left: 0;
    right: 0;
    
    background: red;
    transform-origin: 0%;
  }

  .wid {
    width: 350px !important;
   
    margin-right: auto  !important;

  }
  