@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow{
    background: #ff4500 !important;
    border-radius: 100%;
    position: absolute !important;
}


.slick-prev{
    background: #ff4500 !important;
    position: absolute !important;
    z-index: 10;
    margin-left: 30px !important;
    height: 50px !important;
    width: 50px !important;  
}
.slick-next{
    background: #ff4500 !important;
    position: absolute !important;
    z-index: 10;
    margin-right: 30px !important;
   height: 50px !important;
   width: 50px !important;  
   
}
slick-next.hover::after {
    background: #524540 !important;
    position: absolute !important;
    z-index: 10;
    margin-right: 30px !important;
   height: 50px !important;
   width: 50px !important;  
   
}

.progress-bar {
   
    top: 0;
    left: 0;
    right: 0;
    
    background: red;
    transform-origin: 0%;
  }



  @media (min-width: 1400px) { 
    .containWid {
      width: 350px !important;
     
     
  
    }
   }
  @media (min-width: 500px) { 
    .containWid {
      width: 350px !important;
     
     
     
  
    }
   }

  

  .automated{
    -webkit-clip-path: polygon(39% 27%, 66% 30%, 100% 0, 100% 90%, 79% 92%, 55% 79%, 33% 77%, 0 100%, 0 14%, 20% 11%);
clip-path: polygon(55% 40%, 75% 46%, 91% 57%, 100% 75%, 100% 100%, 0 100%, 0 76%, 6% 64%, 15% 51%, 31% 43%);
height: 700px;

background: #F8FAFC;
}

.active-link{
  color: #ff4500 !important;
}

